[submodule "site-cookbooks/chatsecure_users"]
	path = site-cookbooks/chatsecure_users
	url = git@github.com:ChatSecure/chatsecure-users-cookbook.git
[submodule "site-cookbooks/chatsecure_web"]
	path = site-cookbooks/chatsecure_web
	url = git@github.com:ChatSecure/chatsecure-web-cookbook.git
[submodule "site-cookbooks/chatsecure_ssl"]
	path = site-cookbooks/chatsecure_ssl
	url = git@github.com:ChatSecure/chatsecure-ssl-cookbook.git
[submodule "site-cookbooks/chatsecure_jekyll"]
	path = site-cookbooks/chatsecure_jekyll
	url = git@github.com:ChatSecure/chatsecure-jekyll-cookbook.git
[submodule "site-cookbooks/chatsecure_rubdub"]
	path = site-cookbooks/chatsecure_rubdub
	url = git@github.com:ChatSecure/chatsecure-rubdub-cookbook.git
